@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}
header {
  background: #ff512f;
  /* fallback for old browsers */
  background: var(--bggradient);
}
header .nav-links {
  font-family: var(--Sniglet-font);
    font-size: 1.1rem !important;
    color: whitesmoke !important;
    padding-right: 20px;
}
header .navbar-brand {
  font-size: 2rem;
  color: white !important;
}
header .ml-auto.navbar-nav {
  padding: 0.9em;
}

/* header row */
header .row .col-md-7 {
  font-family: var(--Rubik);
  padding: 148px 10px;
  padding-bottom: 236px;
  color: white;
  text-align: left;
}
header .container .col-md-7 h1 {
  font-size: 7.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
  letter-spacing: 3px;
}
header .container .col-md-7 h6 {
  padding: 15px;
  letter-spacing: 4px;
}
header .container .col-md-7 p {
  padding: 10px 20px;
}
header .row .col-md-5 img {
  width: 70%;
  margin-top: 140px;
}

/* animation */
header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
